<ul
	xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
	<li>
		<a href="index.html">IG Home</a>
	</li>
	<li>
		<a href="toc.html">Table of Contents</a>
	</li>
<!--
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Background<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Specification<img src="external.png" style="text-align: baseline"/>
				</a>
			</li>
		</ul>
	</li>
-->
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">ImplementationGuide Content<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="metamodel.html">Artifact Model</a>
			</li>
			<li>
				<a href="namingconventions.html">Naming Conventions</a>
			</li>
		</ul>
<!--
		<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Tooling<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
		</ul>
-->
	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Testing<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="testing.html">Testing approach</a>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Collaboration<b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="feedback">Feedback</a>
			</li>
		</ul>
	</li>
<!--
	<li class="dropdown">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">Implementation<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="downloads.html">Downloads</a></li>
		</ul>
	</li>
-->
</ul>      